.wrapper {
    flex: 1;
    align-items: center;
    background-color: #faf8ef;
    position: relative;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.description {
    color: #776e65;
    text-align: center;
    margin: 30 0 40 0;
}
.baseAllIn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.main {
    margin: 30;
}
.board {
    height: 690;
    background-color: #bbada0;
    border-radius: 20;
}
.boardRow {
    dispay: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20;
}
.boardRow:last-child {
    margin-bottom: 0px;
}
.footer {
    text-align: center;
    color: #aaa;
    font-size: 25;
    width: auto;
    margin-top: 20;
}
.normal {
    background-color: rgba(238, 228, 218, 0.35);
    width: inherit;
    height: inherit;
    border-radius: 10;
}
.point {
    width: inherit;
    height: inherit;
    text-align: center;
    font-size: 70;
    font-weight: bold;
    border-radius: 10;
}
.val-first {
    background-color: #eee4da;
    color: #776e65;
}
.val-second {
    background-color: #ede0c8;
    color: #776e65;
}
.val-third {
    background-color: #f2b179;
    color: #fff;
}
.val-forth {
    background-color: #f59563;
    color: #fff;
}
.val-fifth {
    background-color: #f67c5f;
    color: #f9f6f2;
}
